.transition {
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
body {
  font-size: 20px;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
}
button {
  background-color: transparent;
  border: none;
  color: #222222;
  outline: none;
  vertical-align: middle;
}
h1 {
  display: inline;
  font-size: 1.1rem;
  line-height: 4rem;
  margin-left: .5rem;
}
#main {
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 100%;
}
#main.menuShowing {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
}
#main header {
  background-color: #012955;
  color: #FFFFFF;
  height: 4rem;
  padding-left: .5rem;
}
#menu {
  background-color: #666666;
  color: #FFFFFF;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
}
ul {
  list-style: none;
  padding-left: .5rem;
}
ul li {
  height: 2rem;
}
