<a href="#/intro">Return to Intro</a>

<article id="copy">
    <h3>Home page</h3>
    <p>We are a specialist food retailer and we have been selling high quality food products to our customers for 50 years. We have been trading online for the last 3 years so it’s now even easier for our customers to get great, fresh produce.</p>

    <p>Our product of the month is our range of fruit smoothies and if your order them now you can benefit from our 25% discount.</p>

    <p>New to the store are our bags of mixed dried berries. A perfect healthy snack or a nice topping for your cereal in the morning. Prices range, depending on the bag size, from £2.99 to £4.99 per bag.</p>

    <p>Or if you fancy a little treat, why not give a bar of Fairtrade chocolate a try from 75p.</p>

    <p>Ordering your shopping online is just a click away or you can still pop into the store to see us.</p>

    <h3>Sub page</h3>

    <p>Keep up to date with our latest news here:</p>

    <p><strong>Give a delicious gift</strong></p>

    <p>We have a new range of truly mouthwatering gift hampers and baskets in store now. They range from a mini snack basket for £10, perfect for someone’s desk at work, to a beautifully presented luxury wine, cheese, biscuits, chutney and chocolates hamper for £100.</p>

    <p><strong>Delivery discounts this month</strong></p>

    <p>Get half price delivery this month on shops over £40 or recommend a friend and if they mention your account number at the checkout get one free delivery!</p>

    <p><strong>Sponsored juggle</strong></p>

    <p>If you visit one of our stores during the first week of next month you will see our cashiers taking part in a sponsored juggle. Visit your nearest store for details on which day they will be taking part and which charity they have nominated to benefit from their blatant clowning around in work time.</p>
</article>