<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>AngularJS - Simple Injection</title>
    <script type="text/javascript" src="//use.typekit.net/tlg4bsr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="../bower_components/angular/angular.min.js"></script>

    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css"/>
    <link rel="stylesheet" href="site.css"/>

    <script src="app.js"></script>
</head>
<body ng-controller="MyCtrl">

    <h1>What's Your Name?</h1>

    <p>
        <input type="text" ng-model="firstName"/>
        <input type="text" ng-model="lastName"/>
    </p>

    <button ng-click="updateName()">Update Name</button>

    <h2 ng-show="displayName">Hello {{displayName}}</h2>

</body>
</html>